<html lang="en">

<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
	 crossorigin="anonymous">
	</script>
	<script src="https://puckpanelrewrite.pupppy44.repl.co/js/d7e1a3b0f822ed1bf28ebb0590de8e56.js">
	</script>
	<title>Puck Panel</title>
	<link rel="icon" href="https://cdn.kirb.xyz/assets/79a1a01d9e9805a141aaac1a5a4321e4.png">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="/css/842b68742cc0c4c01d0b151bfae03669.css">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
	 crossorigin="anonymous">
	</script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
	 crossorigin="anonymous">
</head>

<body>
	<div class="w3-bar w3-border w3-card-4 w3-light-grey">
		<a href="/" class="w3-bar-item w3-button">Home</a>
		<a href="/servers" class="w3-bar-item w3-button">Servers</a>
		<div id="settings" class="w3-dropdown-hover" style="float: right;"><button id="login" class="w3-button">Login</button>
    </div>
  </div>
  <div id="main">
    <img class="puck" src="https://cdn.discordapp.com/attachments/742148980682784793/795093051454390332/image-removebg-preview.png" width="125px" data-toggle="tooltip" data-placement="top" title="Hi!">
    <b style="font-size: 75px; color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(17,17,17,1) 0%, rgba(89,89,89,1) 100%);"> Puck</b>
    <br>
   </div>
</body>

  <script src="https://cdn.kirb.xyz/assets/notiflix.js"></script>

  <script src="/js/1db28c5bcc3fc365080a24663fc22b79.js"></script>
</html>